{% extends "explore/layout.html" %}
{% load static %}

{% block body %}

<div id="header" class="row boxed mb-2">
    <!-- Header info -->
    <div class="headerTitle">
        Average physicochemical properties of proteomes of cellular organisms
    </div>
    <p>
        See more at:<br>
        Vallina E, Oliveberg M (2022) Physicochemical classification of organisms.
        <i>PNAS</i> <b>119</b>(19) e2122957119.
        DOI:<a href="https://doi.org/10.1073/pnas.2122957119">10.1073/pnas.2122957119</a>.
    </p>
    <!-- Navigation bottoms -->
    <div class="justify-content-end my-3">
        <ul class="nav nav-pills justify-content-end align-item-center">
            <li class="nav-item">
                <a id="explorerButton" class="nav-link active" href="#">Data Explorer</a>
            </li>
            <li class="nav-item">
                <a id="downloadsButton" class="nav-link" href="#">Downloads</a>
            </li>
            <li class="nav-item">
                <a id="aboutButton" class="nav-link" href="#">About</a>
            </li>
        </ul>
    </div>
</div>


<!-- Explorer view -->
<div id="explorer">
    <div id="main-content" class="row pb-2">
        <div class="col-9 boxed mr-n2">
            <canvas width="720" height="480" id="myChart"></canvas>
            <div class="headerSubTitle d-flex justify-content-end">Click items on the legend to toggle visibility</div>
        </div>
        <div class="col-3 boxed ml-n2">
            <div class="row">
                <div class="col-12 px-0">
                    <!-- Dataset form -->
                    <form id="dataset-form" class="mb-2">
                        {% csrf_token %}
                        <div class="sectionTitle">Choose dataset</div>
                        <select class="form-control" id="origin-choose">
                            <option selected value="ncbi">NCBI</option>
                            <option value="uniprot">UniProt</option>
                        </select>
                    </form>
                    <!-- Variables form -->
                    <form>
                        <div class="sectionTitle">Choose variables</div>
                        <label class="headerSubTitle" for="x-axis">X-axis</label>
                        <select class="form-control" id="x-choose">
                            <option value="GC">GC content</option>
                            <option selected value="ncd1000" >net charge density</option>
                            <option value="mwkda" name"protein size (kDa)">protein size</option>
                            <option value="SASAmiller" >solvent accessible surface area</option>
                            <option value="NetCh" >net charge</option>
                            <option value="fFatty" >fraction hydrophobic (FLIV)</option>
                            <option value="fPos" >fraction positive (KR)</option>
                            <option value="fNeg" >fraction negative (DE)</option>
                            <option value="fCharged" >charged residue fraction</option>
                            <option value="seqnum" >protein count</option>
                            <option value="Length" >protein length</option>

                        </select>

                        <label for="xAxes-log">log x</label>
                        <input type="checkbox" id="x-log">

                        <br>
                        <label class="headerSubTitle" for="y-axis">Y-axis</label>
                        <select class="form-control" id="y-choose">
                            <option value="GC" >GC content</option>
                            <option value="ncd1000" >net charge density</option>
                            <option selected value="mwkda" name"protein size (kDa)">protein size</option>
                            <option value="SASAmiller" >solvent accessible surface area</option>
                            <option value="NetCh" >net charge</option>
                            <option value="fFatty" >fraction hydrophobic (FLIV)</option>
                            <option value="fPos" >fraction positive (KR)</option>
                            <option value="fNeg" >fraction negative (DE)</option>
                            <option value="fCharged" >charged residue fraction</option>
                            <option value="seqnum" >protein count</option>
                            <option value="Length" >protein length</option>
                        </select>
                        <label for="yAxes-log">log y</label>
                        <input type="checkbox" id="y-log">
                    </form>
                </div>

            </div>
            <div class="row">
                <div class="col-12 d-flex align-items-end px-0">
                    <!-- Taxa search form -->
                    <form autocomplete="off" onsubmit="return false" style="display:block">
                        <div class="form-group">
                            <span class="sectionTitle">Taxa search &#x1F50D;</span><br>
                            <span class="headerSubTitle">Click to add subset highlight</span>
                            <input type="search" list="taxa-options" class="form-control" id="taxa-search" placeholder="start typing">
                            <div id="taxa-options"></div>
                        </div>
                    </form>
                </div>

            </div>


        </div>
    </div>
    <!-- Lineage menus -->
    <div id="lineage-menus"class="row boxed">
        <div class="col-12 px-0">
            <div class="row pb-3">
                <div class="col-6 px-0 sectionTitle">Select organism by lineage</div>
                <div class="col-6 px-0 headerSubTitle d-flex justify-content-end">Additional higlights are displayed on top</div>
            </div>
            <div class="row px-0">
                <table id="highlight-menus" width="100%">
                    <tr class="headerSubTitle flex-d justify-content-between">
                        <th style="width: 16%">Kingdom</th>
                        <th style="width: 16%">Phylum</th>
                        <th style="width: 16%">Class</th>
                        <th style="width: 16%">Order</th>
                        <th style="width: 16%">Family</th>
                        <th style="width: 16%">Genus</th>
                    </tr>
                    <tr id="rowmodel" class="flex-d justify-content-between" style="display: none;">
                      <td>
                          <select class="form-control choose" id = "kingdom-0">
                              <option id="op-Bacteria" value="Bacteria">Bacteria (N = 13799)</option>
                              <option id="op-Eukaryota" value="Eukaryota">Eukaryota (N = 2036)</option>
                              <option id="op-Archaea" value="Archaea">Archaea (N = 2239)</option>
                              <option selected disabled value="All organisms">All organisms (N = 18110)</option>
                          </select>
                      </td>
                      <td>
                          <select class="form-control choose" id = "phylum-0">
                              <option value="placeholder" selected disabled hidden>Choose here</option>
                          </select>
                      </td>
                      <td>
                          <select class="form-control choose" id = "taxClass-0">
                              <option value="placeholder" selected disabled hidden>Choose here</option>
                          </select>
                      </td>
                      <td>
                          <select class="form-control choose" id = "order-0">
                              <option value="placeholder" selected disabled hidden>Choose here</option>
                          </select>
                      </td>
                      <td>
                          <select class="form-control choose" id = "family-0">
                              <option value="placeholder" selected disabled hidden>Choose here</option>
                          </select>
                      </td>
                      <td>
                          <select class="form-control choose" id = "genus-0">
                              <option value="placeholder" selected disabled hidden>Choose here</option>
                          </select>
                      </td>
                    </tr>
                </table>
                <button class="btn btn-link" id="add-highlight-dialog">+Add highlight</button>

            </div>
            <div class="d-flex justify-content-end">
                <label for="reset">Clear all highlights</label>
                <button type="button" name="button" id="reset" class="btn btn-primary ml-2">Reset</button>

            </div>

        </div>

    </div>
</div>


<!-- Downloads view -->
<div id="downloads" style="display:none">
    <div class="row">
        <div class="col boxed px-5">
            <h4 style="margin-top:15px;margin-bottom:15px;">Datasets in csv format</h4>
            <table width="80%" class="table">
                <tr>
                    <th style="width: 33%">Uniprot</th>
                    <th style="width: 33%"></th>
                    <th style="width: 33%"></th>

                </tr>
                <tr>
                    <td>Archaea</td>
                    <td><a href="{% static 'explore/datasets/Archaea_uniprot_avg.csv' %}">averages</a></td>
                    <td><a href="{% static 'explore/datasets/Archaea_uniprot_median.csv' %}">median</a></td>
                </tr>
                <tr>
                    <td>Bacteria</td>
                    <td><a href="{% static 'explore/datasets/Bacteria_uniprot_avg.csv' %}">averages</a></td>
                    <td><a href="{% static 'explore/datasets/Bacteria_uniprot_median.csv' %}">median</a></td>
                </tr>
                <tr>
                    <td>Eukaryota</td>
                    <td><a href="{% static 'explore/datasets/Eukaryota_uniprot_avg.csv' %}">averages</a></td>
                    <td><a href="{% static 'explore/datasets/Eukaryota_uniprot_median.csv' %}">median</a></td>
                </tr>
                <tr>
                    <th style="width: 33%">NCBI Assemblies</th>
                    <th style="width: 33%"></th>
                    <th style="width: 33%"></th>
                </tr>
                <tr>
                    <td>Archaea</td>
                    <td><a href="{% static 'explore/datasets/Archaea_ncbi_avg.csv' %}">averages</a></td>
                    <td><a href="{% static 'explore/datasets/Archaea_ncbi_median.csv' %}">median</a></td>
                </tr>
                <tr>
                    <td>Bacteria</td>
                    <td><a href="{% static 'explore/datasets/Bacteria_ncbi_avg.csv' %}">averages</a></td>
                    <td><a href="{% static 'explore/datasets/Bacteria_ncbi_median.csv' %}">median</a></td>
                </tr>
                <tr>
                    <td>Eukaryota</td>
                    <td><a href="{% static 'explore/datasets/Eukaryota_ncbi_avg.csv' %}">averages</a></td>
                    <td><a href="{% static 'explore/datasets/Eukaryota_ncbi_median.csv' %}">median</a></td>
                </tr>
            </table>

        </div>

    </div>

</div>

<div id="about" style="display:none">
    <div class="row">
        <div class="col boxed px-5">
            <h4>About</h4>
            <p>
                This project was developed in connection with a scientific
                publication. If you find this tool useful, be sure to check out:
            </p>
            <p>
                Vallina E, Oliveberg M (2022) Physicochemical classification of organisms.
                <i>PNAS</i> <b>119</b>(19) e2122957119.
                DOI:<a href="https://doi.org/10.1073/pnas.2122957119">10.1073/pnas.2122957119</a>.
            </p>
            <h4>Contact</h4>
            <p>
                For questions and feedback pertaining the website, please refer
                to <a href="https://github.com/eloyvallinaes/proteome-data-explorer">GitHub issues</a>
                or feel free to contact me directly at eloy.vallina@dbb.su.se.
            </p>
        </div>

    </div>

</div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js" integrity="sha512-yadYcDSJyQExcKhjKSQOkBKy2BLDoW6WnnGXCAkCoRlpHGpYuVuBqGObf3g/TdB86sSbss1AOP4YlGSb6EKQPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="{% static 'explore/main.js' %}"></script>
{% endblock %}
