{% extends "explore/layout.html" %}
{% load static %}
{% csrf_token %}

{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js" integrity="sha512-yadYcDSJyQExcKhjKSQOkBKy2BLDoW6WnnGXCAkCoRlpHGpYuVuBqGObf3g/TdB86sSbss1AOP4YlGSb6EKQPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- <script type="text/javascript" src="{% static 'explore/chartjs-plugin-colorschemes.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'explore/main.js' %}"></script>

<!-- Page header and links -->
<div class="row d-flex justify-content-between">
    <div class="col-12">
        <div class="boxed">
            <div class="col-sm-7 text-left">
                <div class="headerTitle">Physicochemical coordinates of cellular organisms</div>
                <div class="headerSubTitle">Data explorer</div>
            </div>
            <div class="col-md text-right">
                <a href="{% url 'logout' %}">Log out</a>
            </div>
        </div>

    </div>
    <!-- Canvas with the scatter -->
    <div class="col-lg-8 col-md-7 d-flex justify-content-round">
            <canvas width="720" height="480" class="boxed" id="myChart"></canvas>
    </div>
    <!-- Right side menu, choose variables -->
    <div class="col-lg-4 col-md-5">
        <div class="boxed">
            <form>
                <div class="sectionTitle">Choose variables</div>
                <label class="headerSubTitle" for="x-axis">X-axis</label>
                <select class="form-control" id="x-choose">
                    <option value="GC">GC content</option>
                    <option selected value="ncd1000" >net charge density</option>
                    <option value="mwkda" name"protein size (kDa)">protein size</option>
                    <option value="SASAmiller" >solvent accessible surface area</option>
                    <option value="NetCh" >net charge</option>
                    <option value="fFatty" >fraction hydrophobic (FLIV)</option>
                    <option value="fPos" >fraction positive (KR)</option>
                    <option value="fNeg" >fraction negative (DE)</option>
                    <option value="fCharged" >charged residue fraction</option>
                    <option value="seqnum" >protein count</option>
                    <option value="Length" >protein length</option>

                </select>

                <label for="xAxes-log">log x</label>
                <input type="checkbox" id="x-log">

                <br>
                <label class="headerSubTitle" for="y-axis">Y-axis</label>
                <select class="form-control" id="y-choose">
                    <option value="GC" >GC content</option>
                    <option value="ncd1000" >net charge density</option>
                    <option selected value="mwkda" name"protein size (kDa)">protein size</option>
                    <option value="SASAmiller" >solvent accessible surface area</option>
                    <option value="NetCh" >net charge</option>
                    <option value="fFatty" >fraction hydrophobic (FLIV)</option>
                    <option value="fPos" >fraction positive (KR)</option>
                    <option value="fNeg" >fraction negative (DE)</option>
                    <option value="fCharged" >charged residue fraction</option>
                    <option value="seqnum" >protein count</option>
                    <option value="Length" >protein length</option>
                </select>
                <label for="yAxes-log">log y</label>
                <input type="checkbox" id="y-log">
            </form>
        </div>


        </div>
    <!-- Bottom menu navigate lineage -->
    <div class="col-12">
        <div class="boxed">
            <div class="sectionTitle">Select organism by lineage</div>
            <table id="highlight-menus" width="100%">
                <tr class="headerSubTitle flex-d justify-content-between">
                    <th style="width: 16%">Kingdom</th>
                    <th style="width: 16%">Phylum</th>
                    <th style="width: 16%">Class</th>
                    <th style="width: 16%">Order</th>
                    <th style="width: 16%">Family</th>
                    <th style="width: 16%">Genus</th>
                </tr>
                <tr id="rowmodel" class="flex-d justify-content-between">
                  <td>
                      <select class="form-control choose" id = "kingdom-1">
                          <option id="op-Bacteria" value="Bacteria">Bacteria (N = 13799)</option>
                          <option id="op-Eukaryota" value="Eukaryota">Eukaryota (N = 2036)</option>
                          <option id="op-Archaea" value="Archaea">Archaea (N = 2239)</option>
                          <option selected disabled value="All organisms">All organisms (N = 18110)</option>
                      </select>
                  </td>
                  <td>
                      <select class="form-control choose" id = "phylum-1">
                          <option value="placeholder" selected disabled hidden>Choose here</option>
                      </select>
                  </td>
                  <td>
                      <select class="form-control choose" id = "taxClass-1">
                          <option value="placeholder" selected disabled hidden>Choose here</option>
                      </select>
                  </td>
                  <td>
                      <select class="form-control choose" id = "order-1">
                          <option value="placeholder" selected disabled hidden>Choose here</option>
                      </select>
                  </td>
                  <td>
                      <select class="form-control choose" id = "family-1">
                          <option value="placeholder" selected disabled hidden>Choose here</option>
                      </select>
                  </td>
                  <td>
                      <select class="form-control choose" id = "genus-1">
                          <option value="placeholder" selected disabled hidden>Choose here</option>
                      </select>
                  </td>
                </tr>

            </table>
            <button class="btn btn-link" id="add-highlight-dialog">+Add highlight</button>
            <br>
            <div class="text-right">
                <label for="reset">Clear all highlights</label>
                <button type="button" name="button" id="reset" class="btn btn-primary">Reset</button>
            </div>
        </div>

    </div>

</div>





{% endblock %}
