{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Data explorer</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- My bespoke CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'explore/mystyles.css' %}">
        <!-- JS -->
        {% block scripts %}

        {% endblock %}


    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div>
                  <ul class="navbar-nav mr-auto">
                    <li id="nav-all" class="nav-item">
                      <a class="nav-link" href="#">All Posts</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                    {% endif %}
                  </ul>
            </div>
          </nav>

          <div class="container">
              {% block body %}
              {% endblock %}
          </div>

    </body>
</html>
